body {
    background-image: url(uwaBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; /* USER CAN SEE FULL CONTENT */
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    border-radius: 12px;
    border: 4px solid yellow;
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
    width: 78%;
    height: 790px;
}

.gameInfo {
    /* border: 4px solid blue; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.topLeft {
    /* border: 4px solid pink; */
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.topRight {
    /* border: 4px solid green;     */
    width: 50%;
    height: 100%;  
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.playerName {
    color: rgb(190,190,190);
}

.dayCounter {
    display: flex;
    align-items: center;
}

.grpName {
    color: yellow;
}

/* REMEMBER TO ADD A BLINKING EFFECT BETWEEN RED AND WHITE */
.timer {
    border: 4px solid red;
    border-radius: 12px;
    width: 120px;
    height: 50px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    margin-bottom: 8px;
    border: 2px solid yellow;
    border-radius: 100px;
    width: 95%;
}

/* PROGRESS BAR AS IN FOR BOTH BARS */
.progressBars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 100px;
    margin: 0 auto;
    margin-top: 18px;
    flex-direction: column;
}

.moraleBar {
    width: 90%;
    height: 50%;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    display: flex;
}

/* USER'S ACTUAL WORK PROGRESS IN-GAME */
.progressBar {
    width: 90%;
    height: 50%;
    flex-direction: row;
    align-items: center;
    display: flex;
}

#morale {
    color: red;
    font-size: 13px;
    margin: 0;
    white-space: nowrap;
    min-width: 100px;
}

#moraleProgress {
    background-color: red;
    width: 70%;
    height: 8px;
    border-radius: 50px;
    flex: 1;
}

#progressText {
    color: rgb(28, 201, 28);
    font-size: 13px;
    margin: 0;
    white-space: nowrap;
    min-width: 100px;
}

#workProgress {
    background-color: rgb(28, 201, 28);
    width: 70%;
    height: 8px;
    border-radius: 50px;
    flex: 1;
}

#moralePercentage {
    color: red;
}

#progressPercentage {
    color: rgb(28, 201, 28);
}

.secParent {
    border: 2px solid blue;
    height: 65%;
    display: flex;
    flex-direction: row;
}

.teammates {
    border: 2px solid white;
    width: 25%;
}

.gamePlay {
    border: 2px solid pink;
    flex: 1;
}

.eventLogs {
    border: 2px solid green;
    width: 25%;
}