body {
    background-image: url(uwaBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; /* USER CAN SEE FULL CONTENT */
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    border-radius: 12px;
    border: 4px solid yellow;
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
    width: 78%;
    height: 790px;
}

.gameInfo {
    /* border: 4px solid blue; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.topLeft {
    /* border: 4px solid pink; */
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.topRight {
    /* border: 4px solid green;     */
    width: 50%;
    height: 100%;  
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.playerName {
    color: rgb(190,190,190);
}

.dayCounter {
    display: flex;
    align-items: center;
}

.grpName {
    color: yellow;
}

/* REMEMBER TO ADD A BLINKING EFFECT BETWEEN RED AND WHITE */
.timer {
    border: 4px solid red;
    border-radius: 12px;
    width: 120px;
    height: 50px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}