#cloudCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
    background-image: url(uwaBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     min-height: 100vh; /* USER CAN SEE FULL CONTENT */
    font-family: "Press Start 2P", system-ui;
    margin: 0;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    
}

#title {
    font-size: 19pt;
    color: white;
    white-space: normal;
    word-break: break-word;
}

input {
    width: 90%;
    max-width: 400px;
}

/* .title {
    width: 1200px;
    border: solid;
    background-color: rgba(255, 255, 255, 0.55);
}

.grpForm {
    border: solid;
} */

.child {
    border-radius: 12px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%px;
    max-width: 1200px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    width: 270px;
    height: 50px;
}

button:hover {
    transform: scale(1.05);      
    transform: translateY(-3px);  
    cursor: pointer;    
    transition: all 0.2s ease;   
    background-color: black;
    color: white;
    cursor: pointer;
}
