body {
    background-image: url(uwaBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; /* USER CAN SEE FULL CONTENT */
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    margin: auto;
}

.parent {
    border: 5px solid yellow;
    background-color: rgba(0, 0, 0, 0.73);
    border-radius: 12px;
    width: 75%;
    padding: 25px;
}