body {
    background-image: url(uwaBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; /* USER CAN SEE FULL CONTENT */
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    margin: auto;
    text-align: center;
}

.parent {
    border: 5px solid yellow;
    background-color: rgba(0, 0, 0, 0.73);
    border-radius: 12px;
    width: 75%;
    padding: 25px;
}

#homeBtn {
    background-color: yellow;
    margin-top: 30px;
    width: 150px;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 5px;
    height: 40px;
}

th {
    color: white;
    /* padding-top: 30px; */
    text-align: center;
    width: 100%;
}

#leaderboardTable {
    width: 100%;
    table-layout: fixed;
}

tr {
    border: 2px solid red;
    height: min-content;
}