body {
    background-image: url(uwaBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; /* USER CAN SEE FULL CONTENT */
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    border: 2px solid red;
}