{% extends "base.html" %}

{% block title %}Home- Group Project Simulator{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='grp-project-name.css') }}">
{% endblock %}

{% block content %}

    <div class="parent">
      <div class="child">
        <!-- <div class="title"> -->
        <p id="title">Before you begin, give your group a name!</p>
        <p>
          <!-- </div>
      <div class="grpForm"> -->
        </p>

        <form id="groupNameForm">
          <label for="grpName">Enter your group's name: </label>
          <input type="text" id="grpName" name="grpName" maxlength="12" required/>
          <br /><br />
          <button type="submit">Start Game!</button>
        </form>
      </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/grp-project-name.js"></script>
{% endblock %}

