<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <!-- <link
      rel="stylesheet"  
      href="{{ url_for('static', filename='static/leaderboard.css') }}"
    /> -->

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='leaderboard.css') }}"
    />
    <title>Leaderboard</title>
  </head>
  <body>
    <!-- <p id="leaderboardTitle">LEADERBOARD</p> -->

    <div class="parent">
      <h1>🏆 LEADERBOARD 🏆</h1>
      <table id="leaderboardTable">
        <br />
        <thead>
          <tr>
            <th>RANK</th>
            <th>PLAYER</th>
            <th>GROUP</th>
            <th>OUTCOME</th>
            <th>PROGRESS</th>
            <th>MORALE</th>
            <th>DAYS</th>
          </tr>
        </thead>
        <tbody id="leaderboardBody">
          {% for result in results %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ result.username }}</td>
            <td>{{ result.group_name }}</td>
            <td>{{ result.outcome }}</td>
            <td>{{ result.progress }}</td>
            <td>{{ result.morale }}</td>
            <td>{{ result.days_taken }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button id="homeBtn">HOME</button>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>
  </body>
</html>
